<!DOCTYPE html>
<html ng-app="app">

  <head>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert-dev.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>

    <!-- Script for /math slash command -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/2.7.0/math.min.js" type="text/javascript"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="./css/styles.css">

    <!-- Stylesheet for Emoji -->
    <link type="text/stylesheet" rel="stylesheet" href="css/emoji.min.css" />
    
    <!-- Stylesheet for PNotify -->
    <link type="text/stylesheet" rel="stylesheet" href="css/pnotify.custom.min.css" />

    <!-- Remove # from url -->
    <base href="/"></base>

  </head>

  <body ng-controller="YouTubeController">

    <header>

      <img src="./img/logo.png" id="logo-image">
      <!-- YouTube search box -->
      <form id="search" ng-submit="getSearch(); toggleResults();" ng-controller="SearchController">

        <input id="search-input" ng-model="field" type="text" placeholder="Search for and add YouTube videos to the playlist" autocomplete="off">

        <input id="search-submit" type="image" src="./img/search.png">
        <!-- Angular directive to load search results modal on submit -->
        <search-directive show='showResults' width='750px' height='62%'>

          <div id="results" ng-if="showResults">
          
            <div class= "video-orderBy">Order: {{ orderTitle }}</div>

            <div class="video" ng-cloak ng-repeat="result in searchList track by $index" ng-click="item.clicked || enqueue(result); item.clicked = true">

              <img class="video-thumb" id="thumb-{{result.snippet.title}}" src={{result.snippet.thumbnails.default.url}}>
              <img class="video-thumb-check" id="check-{{res.snippet.title}}" src="./img/check.png" ng-show="item.clicked">

              <span class="video-title">
                {{result.snippet.title| limitTo: 75 }}{{result.snippet.description.length > 75 ? '...' : ''}}
              </span>

              <span class="video-author">
                {{result.snippet.channelTitle}}
              </span>

              <span class="video-description">
                {{result.snippet.description | limitTo: 160 }}{{result.snippet.description.length > 160 ? '...' : ''}}
              </span>

            </div>
            
            <div class="video-navigation">
            
             <span class="video-navigation-prev" ng-if="prevPage" ng-click="getSearch(prevPage)">Previous</span>
             <span class="video-navigation-next" ng-if="nextPage" ng-click="getSearch(nextPage)">Next</span>
             
            </div>
            
          </div>

        </search-directive>

      </form>
<!--       <div>Search By:</div> -->
<!--       <select ng-model="order">
        <option value="relevance" selected="selected">Relevance</option>
        <option value="rating">Rating</option>
        <option value="date">Date</option>
        <option value="viewCount">View Count</option>
      </select> -->
      <!-- Controls to skip and sync current video being played -->
      <h1 id="skip" ng-click="skip()" ng-cloak>skip</h1>
      <h1 id="sync" ng-click="sync()" ng-cloak>sync</h1>
      <!-- Volume control slider -->
      <input id="volume" min ="0" max="100" step="1" type="range" ng-model="volume" value="50" ng-cloak></input>

    </header>
      <!-- container holds video screen, playlist queue and chat -->
      <!-- <div class="container"> -->
      <!-- this div contains the video screen and playlist queue -->
      <div id="player-queue">
        <!-- YouTube API adds the video player in the player div -->
        <div id="player"></div>
        <!-- to display the current video being played -->
        <div id="current-song">

            <span id="default-playlist-message" ng-cloak ng-show="!current.title">
              Playlist is currently empty
            </span>
            <!-- we set a limit on title character length -->
            <span ng-cloak ng-show="current.title">
              {{ current.title | limitTo: 58 }}{{current.title.length > 60 ? '...' : ''}}
            </span>
            <span id="duration" ng-cloak ng-show="current.title">
              {{duration}}
            </span>

        </div>
        <!-- to display our up and down arrows and vote counter -->
        <div class="votes" ng-show="current.title">

          <p id="added-by" ng-cloak ng-show="current.title">
            — added by {{ current.username }}
          </p>

          <p id="arrows">
            <!-- up green arrow -->
            <img src="./img/upvote.svg" onmouseover="this.src='./img/uphover.svg';" onmouseout="this.src='./img/upvote.svg';" class="up-arrow" ng-click="upVote()" ng-cloak></img>

            <span class="vote-count" ng-cloak>
              {{upvotes}}
            </span>
            <!-- down red arrow -->
            <img src="./img/downvote.svg" onmouseover="this.src='./img/downhover.svg';" onmouseout="this.src='./img/downvote.svg';" class="down-arrow" ng-click="downVote()" ng-cloak></img>

            <span class="vote-count" ng-cloak>
              {{downvotes}}
            </span>

          </p>
        </div>
        <!-- to display videos in playlist -->
        <div id="queue">

          <div class="pending-songs" ng-cloak ng-repeat="song in playlist | orderBy:'((-votes.upvotes) - (-votes.downvotes))' track by $index">

          
               <div class="votes" ng-show="song.title">
                  <p id="queue-title" ng-cloak>
                    {{ song.title | limitTo: 74 }}{{song.title.length > 74 ? '...' : ''}}
                  </p>
                  <!-- maz edit -->
                  <p id="Qarrows">
                    <!-- up green arrow -->
                    <img src="./img/upvote.svg" onmouseover="this.src='./img/uphover.svg';" onmouseout="this.src='./img/upvote.svg';" class="up-arrow" ng-click="qUpVote(song.id)" ng-cloak></img>

                    <span class="vote-count" ng-cloak>
                      {{song.votes.upvotes}}
                    </span>
                    <!-- down red arrow -->
                    <img src="./img/downvote.svg" onmouseover="this.src='./img/downhover.svg';" onmouseout="this.src='./img/downvote.svg';" class="down-arrow" ng-click="qDownVote(song.id)" ng-cloak></img>

                    <span class="vote-count" ng-cloak>
                      {{song.votes.downvotes}}
                    </span>
                  </p>
              </div>
            <!-- to remove a video from playlist -->
            <p ng-show="song.socket===socketId" id="queue-remove" ng-cloak type="button" ng-click="dequeue(song)">
              Remove
            </p>

          </div>

        </div>

      </div>
      <!-- to display chat window -->
      <div id="chat" ng-controller="ChatController">
        <!-- tabs to display messages or users online -->
        <div ng-style="chatStyle" id="chat-tab" ng-click="changeTab('chat')">
          <strong>chat</strong>
        </div>

        <div ng-style="userStyle" id="users-tab" ng-click="changeTab('users')">
          <strong>users </strong><div id="users-connected">({{usersConnected}})</div>
        </div>

        <div id="chat-container" scroll-directive="messages" ng-model="messages">

          <table class="chat-table">
            <tbody ng-show="tab =='chat'" id="messages" ng-repeat="message in messages track by $index"><span id="username-header"><strong>USERNAME:</strong> {{username || "pending..."}}</span></tbody>
            <tbody ng-show="tab =='chat'" id="messages" ng-repeat="message in messages track by $index">

              <tr class="user-name">
                <!-- to display user name and time stamp of message -->
                <td ng-cloak id="user-name" ng-show="messages[{{$index-1}}].username !== message.username || message.sendToSocketId">

                  <span  ng-if="message.sendToSocketId"><strong class="privateMessage">PRIVATE: from @{{ message.username }} to @{{usernameList[message.sendToSocketId]}}</strong> <span class="time">{{message.time}}</span></span>

                  <span ng-if="!message.sendToSocketId"><strong>{{ message.username }}</strong> <span class="time">{{message.time}}</span></span>

                </td>

              </tr>
              <tr class="user-message">
                <!-- to display all messages -->

                <td ng-if="message.sendToSocketId" class="privateMessageContent" id="user-message" ng-cloak ng-bind-html="message.message | linky:'_blank' | colonToSmiley">
                </td>

                <td ng-if="!message.sendToSocketId" id="user-message" ng-cloak ng-bind-html="message.message | linky:'_blank' | colonToSmiley">

                </td>
                

              </tr>

            </tbody>
            <!-- functionality to display chat messages or online users -->
            <tbody id="messages" ng-show="tab == 'users'">

              <tr ng-repeat="user in usernameList">

                <td ng-cloak id="user-playlist">

                  <strong>{{user}}</strong>

                </td>

              </tr>

            </tbody>

          </table>

        </div>
          <!-- to display area to type messages and submit -->
<!--           <form id="chat-submit" ng-submit="send(message)">

            <input id="chat-input" ng-model="message" type="text" placeholder="Enter Message" autocomplete="off" required/>

          </form> -->
           <div id="chat-submit" ng-enter="send(emojiMessage.messagetext)" emoji-form emoji-message="emojiMessage">

            <textarea id="messageInput" ng-model="emojiMessage.messagetext" placeholder="Enter Message" autocomplete="off" required></textarea>

            <button type="button" id="emojibtn">
                <i class="icon icon-emoji"></i>
            </button>
          </div>

      </div>
      
      
      <div id="log-container" ng-controller="LogController">
      
<!--         <div class= "log-button">
          Show Activity Log
        </div>
        
        <div class="log-heading">Activity Log</div> -->
        
        <div class="log" scroll-directive="logs" ng-model="logs">
        
          <table class="log-table">
            
            <tbody ng-repeat="log in logs track by $index">
            
              <tr>
              
                <td>
                
                  <strong>{{ log.username }}</strong><span> {{ log.action }}</span><span> <i>{{ log.title }}</i></span><span> {{ log.message }}</span>
                  
                </td>
                
              </tr>
              
            </tbody>
            
          </table>
          
        </div>
        
      </div>
      
      <div id="history-container" ng-controller="HistoryController">
        <div class="history">
          <table class="history-table">
            <tbody ng-repeat="listItem in historyList track by $index" ng-click="enqueue(listItem)">
              <tr>
                <td>
                  <div class="history-listItem">
                    <span class="history-thumbnail"><img src="{{ listItem.thumbnail }}"></span>
                    <span class="history-title">{{ listItem.title }}</span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-sanitize.js"></script>
    <script src="./js/volume.js"></script>
    <script src="./js/chat.js"></script>
    <script src="./js/search.js"></script>
    <script src="./js/log.js"></script>
    <script src="./js/history.js"></script>
    <script src="./js/video.js"></script>

    <!-- Scripts for Emojis -->
    <script type="text/javascript" src="js/emoji-config.js"></script>
    <script type="text/javascript" src="js/emoji.min.js"></script>
    
    <!-- Scripts for PNotify -->
    <script type="text/javascript" src="js/pnotify.custom.min.js"></script>
    
  </body>
</html>



