html{
  /*overflow: hidden;*/
}

body {
  font-family: 'Roboto';
  background-image: url("../img/background.png");
  background-size: 100%;
  background-color: white;
  width: 1060px;
  margin-right: auto;
  margin-left: auto;
}

::-webkit-scrollbar {
  width: 5px;
  display: none;
}

header {
  color: white;
  background-color: #22242A;
}

#default-playlist-message {
  padding-top:5px;
  float:left;
  padding-left: 200px;
}

#current-song {
  width: 100%
  height: 20px;
  font-size: 20px;
  background-color: #22242A;
  color: white;
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

#title-playing {
  float: left;
  display: block;
  padding-bottom: 5px;
}

.votes {
  color: white;
  padding-top: 5px;
}

#added-by {
  font-size: 12px;
  font-style: italic;
  float: left;
  padding-left: 25px;
}

#arrows {
  margin-top: 5px;
  margin-bottom: 5px;
  float: right;
  padding-right: 20px;
}

#Qarrows {
  margin-top: 5px;
  margin-bottom: 5px;
  float: right;
  padding-right: 20px;
}

.vote-count {
  margin: 0px;
  padding-right: 3px;
  color: white;
}

#logo-image {
  padding-left: 25px;
  padding-right: 15px;
  padding-top: 10px;
}

#volume {
  position: relative;
  left: 15px;
  bottom: 27.25px;
}

#skip {
  font-size: 14px;
  float: right;
  position: relative;
  display: inline-block;
  padding-left: 20px;
  padding-right: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
}

#skip:hover {
  color: #AC0809;
  cursor: pointer;
  outline: none;
}

#sync {
  position: relative;
  float: right;
  font-size: 14px;
  display: inline-block;
  top: 45px;
  left: 49px;
}

#sync:hover {
  color: #1171A2;
  cursor: pointer;
  outline: none;
}

.up-arrow {
}

.down-arrow {
  position: relative;
  top: 2px;
  width: 26.75%;
  height: auto;
}

#chat-tab {
  color: black;
  background-color: rgba(249, 249, 249, 1);
  opacity: 0.85;
  background-image: url("../img/chat-background.png");
  list-style-type: none;
  width: 210px;
  text-align: center;
  cursor: pointer;
  height: 25px; 
  line-height: 25px; 
  position: absolute;
}

#users-tab {
  color: black;
  background-color: rgba(249, 249, 249, .90);
  opacity: 0.85;
  background-image: url("../img/chat-background.png");
  background-position-y: -833px;
  list-style-type: none;
  width: 210px;
  text-align: center;
  cursor: pointer;
  height: 25px; 
  line-height: 25px; 
  position: relative;
  left: 50%;
}
#search-input {
  position: relative;
  bottom: 25.5px;
  left: 10px;
  background: #616573;
  width: 640px;
  line-height: 30px;
  height: 15px;
  padding: 10px;
  color: white;
  font-size: 14px;
  border-radius: 20px;
  border: none;
}

#search {
  height: auto;
  bottom: 17.25px;
  display: inline-block;
  background-color: #22242A;
}

#search-input:focus {
  outline: none;
}

#search-submit{
  position: relative;
  right: 30.5px;
  bottom: 14.5px;
}

#search-submit:focus {
  outline: none;
}

#submit:focus {
  outline: none;
}

.container {
  width: 1060px;
  height: 700px;
}

#player-queue {
  background-color: #22242A;
  width:640px;
  height:600px;
  float: left;
}

#current {
  border: 1px solid black;
}

.queue-table {
  margin-left: 30px;
}

#queue {
  width: 640px;
  height: 159px;
  display: block;
  overflow-y: auto;
}

#queue p {
  display: inline-block;
}

.pending-songs {
  width: 100%
  height: 35px;
  font-size: 15px;
  background-color: #22242A;
  color: #727785;
  padding-left: 10px;
  border-top: 1px solid #616573;
  cursor: pointer;
}

.pending-songs:hover {
  background-color: #1171A2;
  color: white;
  cursor: pointer;
}

#queue-remove {
  cursor: pointer;
  color: #AC0809;
  float: right;
  margin-top: 12px;
  margin-right: 25px;
  border-radius: 3px;
}

#queue-remove:hover {
  cursor: pointer;
  color: white;
}

#chat {
  width:420px;
  height: 600px;
  float: right;
  color: #080808;
  background-color: #616573;
  opacity: 50%;
  background-image: url("../img/chat-background.png");
}

#chat-container {
  height: 535px;
  overflow-x: hidden;
  width: 430px;
  padding-bottom: 10px;
  margin-bottom: 5px;
}

.chat-table {
  width: 420px;
}

.user-name {
  width: 75px;
}

#user-name {
  padding-left: 5px;
}

#user-message {
  padding-left: 5px;
  padding-right: 5px;
}

#user-list {
  padding-left: 5px;
  padding-right: 5px;
}
.user-message {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

#users-connected {
  display: inline-block;
  position: relative;
  font-size: 12.5px;
  font-weight: 900;
  bottom: 1.425px;
}

#username-header{
  border-bottom: 1px solid black;
  width: 96%;
  padding: 4px;
  display: block;
}

div#messageDiv {
  width: 372px;
  opacity: 0.85;
  min-height: 27px;
  height: 29px;
  line-height: 29px;
  color: white;
  font-size: 14px;
  background-color: rgba(42, 45, 58, .40);
  border: none;
  margin: 0;
  margin-top: -7px;
  padding: 1px;
  padding-top: 2px;
  padding-left: 5px;
  border-radius: 0;
  display: inline-block;
}

/*Remove default blue outline when input and button are selected */
.emoji-wysiwyg-editor:focus, button#emojibtn:focus {
  outline: none;
}

button#emojibtn {
  float: right;
  display: inline-block;
  background-color: rgba(42, 45, 58, .40);
  opacity: 0.85;
  border: none;
  height: 32px;
  width: 42px;
  position: relative;
  top: -7px;
}

div.emoji-menu {
  margin-top: -264px;
  margin-left: -206px;
}

#player {
  margin-left: 0px;
  margin-top: 0px
}

.thumbs{
  width:192;
  height:110
}

.user-message {
  font-weight: 450;
}

.ng-modal {
  max-height:90%;
}

.ng-modal-overlay {
  position: absolute;
  z-index:9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-size: 100%;
  opacity: 0.8;
}

.ng-modal-dialog {
  z-index:10000;
  position: absolute;
  width: 100%;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  color: black;
  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
  overflow-y:auto;
}

.video {
  position: relative;
  padding: 10px;
}

.video-block {
  padding-left: 5px;
}

.video-thumb {
  float: left;
  padding-right: 10px;
  position: relative;
}

.video-thumb-check {
  position: absolute;
  left: 4%;
  top: 20%;
}

.video:nth-child(2n-1) {
  background-color: #f5f5f9;
}

.video-title {
  padding-top: 5px;
  font-size: 18px;
  display: block;
}

.video-author {
  color: #616573;
  font-size: 14px;
  font-weight: 900;
  padding: 5px 0;
  display: block;
}

.video-description {
  font-size: 12px;
  line-height: 1;
  height:38px;
  display:block;
}

.video-navigation {
  padding: 25px;
  cursor: pointer;
  font-size: 22px;
}

.video-navigation-prev {
  float: left;
}

.video-navigation-next {
  float: right;
}
.video-navigation:hover {
  color: #1FA0DF;
}

.video:hover {
  background: #1FA0DF;
  color: white;
}

.time {
  color: #DBDBDC;
  font-size: 11px;
  bottom: 1.55px;
}

.privateMessage{
  color: #F7B3DA;
  font-size: 1.2em;
  font-weight: 400;
}

.privateMessageContent{
  color: #48012A;
}

#duration {
  float: right;
  padding-top: 0px;
  padding-right: 16px;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input[type=range] {
  outline: none;
  padding: 0;
  width: 140px;
  height: 6px;
  background-color: #616573;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #473e4f), color-stop(100%, #51475a));
  background-image: -webkit-linear-gradient(#473e4f, #51475a);
  background-image: -moz-linear-gradient(#473e4f, #51475a);
  background-image: -o-linear-gradient(#473e4f, #51475a);
  background-image: linear-gradient(#AC0809, #AC0809);
  background-size: 50% 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  box-shadow: none;
  border: none;
  background: transparent;
  -webkit-appearance: none;
}

input[type=range]::-moz-range-track {
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type=range]::-moz-focus-outer {
  border: 0;
}

input[type=range]::-webkit-slider-thumb {
  width: 14px;
  height: 14px;
  border: 0;
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 0 1px 0px rgba(0,0,0,0.1);
  -webkit-appearance: none;
}

input[type=range]::-moz-range-thumb {
  width: 14px;
  height: 14px;
  border: 0;
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 0 1px 0px rgba(0,0,0,0.1);
}

/* ====================== activity log styles ======================= */

div#log-container {
 display: inline-block;
}

div.log {
  display: inline-block;
  height: 250px;
  overflow-x: hidden;
  width:640px;
  padding-bottom: 10px;
  background-color: rgba(249, 249, 249, 1);
  opacity: 0.85;
  background-image: url("../img/chat-background.png");
}

/* ====================== history panel styles ======================= */

div.history {
  display: inline-block;
  height: 250px;
  overflow-x: hidden;
  width: 410px;
  border: 1px solid black;
  background-color: #22242A;
}
span.history-thumbnail {
  float: left;
}

div.history-listItem {
  width: 100%
  font-size: 15px;
  color: #727785;
  border-top: 1px solid #616573;
  cursor: pointer;
}

div.video-orderBy {
  padding: 20px;
}

