html{
  overflow: hidden;
}

body {
  font-family: 'Roboto';
  background-image: url("../img/background.png");
  background-size: 100%;
  background-color: white;
  width: 1060px;
  margin-right: auto;
  margin-left: auto;
}

::-webkit-scrollbar {
  width: 5px;
  display: none;
}

header {
  color: white;
  background-color: #22242A;
  width: 1060px;
  height: 83px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#default-playlist-message {
  padding-top:5px;
  float:left;
  padding-left: 200px;
}

#current-song {
  width: 100%
  height: 20px;
  font-size: 20px;
  background-color: #22242A;
  color: white;
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

#title-playing {
  float: left;
  display: block;
  padding-bottom: 5px;
}

.votes {
  color: white;
  padding-top: 5px;
}

#added-by {
  font-size: 12px;
  font-style: italic;
  float: left;
  padding-left: 25px;
}

#arrows {
  margin-top: 5px;
  margin-bottom: 5px;
  float: right;
  padding-right: 20px;
}

.vote-count {
  margin: 0px;
  padding-right: 3px;
  color: white;
}

#logo-image {
  padding-left: 25px;
  padding-right: 15px;
  padding-top: 10px;
}

#volume {
  position: relative;
  left: 79.25%;
  bottom: 52.5%;
}

#skip {
  font-size: 14px;
  float: right;
  position: relative;
  display: inline-block;
  padding-left: 20px;
  padding-right: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
}

#skip:hover {
  color: #AC0809;
  cursor: pointer;
  outline: none;
}

#sync {
  position: relative;
  float: right;
  font-size: 14px;
  display: inline-block;
  top: 45px;
  left: 49px;
}

#sync:hover {
  color: #1171A2;
  cursor: pointer;
  outline: none;
}

.up-arrow {
}

.down-arrow {
  position: relative;
  top: 2px;
  width: 26.75%;
  height: auto;
}

#chat-tab {
  color: black;
  background-color: rgba(249, 249, 249, 1);
  opacity: 0.85;
  background-image: url("../img/chat-background.png");
  list-style-type: none;
  width: 210px;
  text-align: center;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  position: relative;
}

#chat-icon {
  position: relative;
  top: 4px;
  width: 12%;
}

#users-tab {
  color: black;
  background-color: rgba(249, 249, 249, .90);
  opacity: 0.85;
  background-image: url("../img/chat-background.png");
  background-position-y: -833px;
  list-style-type: none;
  width: 210px;
  text-align: center;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  position: relative;
  left: 50%;
  bottom: 40px;
  font-size: 20px;
}

#users-icon {
  display: inline-block;
  position: relative;
  width: 12%;
  top: 4px;
  right: 6px;
}

#search-input {
  position: relative;
  bottom: 23.75px;
  left: 10px;
  background: #616573;
  width: 600px;
  line-height: 60px;
  height: 18.25px;
  padding: 6.75px 40px 10px 40px;
  color: white;
  font-size: 15px;
  border-radius: 20px;
  border: none;
}

#search {
  height: 0;
  bottom: 17.25px;
  display: inline-block;
  background-color: #22242A;
}

#search-input:focus {
  outline: none;
}

#search-submit{
  position: relative;
  right: 667.5px;
  bottom: 12.75px;
}

#soundcloud-button {
  position: relative;
  left: 590px;
  top: -17.75px;
  width: 25px;
}

#engine-icon {
  position: relative;
  left: -85px;
  width: 40px;
  height: auto;
  top: -15.75px;
}

#search-submit:focus {
  outline: none;
}

#submit:focus {
  outline: none;
}

.container {
  width: 1060px;
  height: 700px;
}

#player-queue {
  background-color: #22242A;
  border-bottom-left-radius: 10px;
  width:640px;
  height:600px;
  float: left;
}

#current {
  border: 1px solid black;
}

.queue-table {
  margin-left: 30px;
}

#queue {
  width: 640px;
  height: 159px;
  display: block;
  overflow-y: auto;
}

#queue p {
  display: inline-block;
}

.pending-songs {
  width: 100%
  height: 35px;
  font-size: 15px;
  background-color: #22242A;
  color: #727785;
  padding-left: 10px;
  border-top: 1px solid #616573;
  cursor: pointer;
}

.pending-songs:hover {
  background-color: #1171A2;
  color: white;
  cursor: pointer;
}

#queue-remove {
  cursor: pointer;
  color: #AC0809;
  float: right;
  margin-top: 12px;
  margin-right: 25px;
  border-radius: 3px;
}

#queue-remove:hover {
  cursor: pointer;
  color: white;
}

#chat {
  position: relative;
  width:420px;
  height: 600px;
  float: right;
  color: #080808;
  background-color: #616573;
  opacity: 50%;
  background-image: url("../img/chat-background.png");
  border-bottom-right-radius: 10px;
}

#chat-container {
  position: relative;
  bottom: 35px;
  height: 500px;
  overflow-x: hidden;
  width: 420px;
}

.chat-table {
  position: relative;
  width: 420px;
}

.user-name {
  width: 75px;
  padding-left: 5px;
  font-size: 17px;
}

#user-name {
  padding-left: 5px;
  font-size: 17px;
}

#username {
  padding-left: 1px;
  display: inline-block;
  float: left;
  font-size: 19px;
  color: #DBDBDC;
}

#joined {
  font-weight: 600;
  padding-left: 1px;
  display: inline-block;
  float: left;
  font-size: 19px;
  color: #003E6F;
}

#left {
  font-weight: 600;
  padding-left: 1px;
  display: inline-block;
  float: left;
  font-size: 19px;
  color: #790000;
}

#usermessage {
  padding-left: 1px;
  display: inline-block;
  float: left;
  font-size: 19px;
  color: #111111;
}

#user-message {
  padding-left: 6px;
  padding-right: 5px;
}

#user-list {
  padding-left: 5px;
  padding-right: 5px;
}

#listeduser {
  padding-left: 7px;
  display: inline-block;
  font-size: 19px;
  color: #DBDBDC;
}

.user-message {
  width: 75px;
  padding-left: 5px;
  font-size: 17px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

#users-connected {
  display: inline-block;
  position: relative;
  font-size: 20px;
  font-weight: 900;
  bottom: 1.5px;
  color: #DBDBDB;
}

#chat-submit {
  position: relative;
  bottom: 36px;
  border-bottom-right-radius: 10px;
}

#chat-input {
  position: relative;
  width: 414px;
  opacity: 0.85;
  height: 54px;
  color: white;
  font-size: 15px;
  background-color: rgba(42, 45, 58, .40);
  border: none;
  padding-left: 6px;
  border-bottom-right-radius: 10px;
}

#chat-input:focus {
  outline: none;
}

#player {
  margin-left: 0px;
  margin-top: 0px
}

#sc-player {
  pointer-events: none;
  margin-left: 0px;
  margin-top: 0px
}

.thumbs{
  width:192;
  height:110
}

.user-message {
  font-weight: 450;
  font-size: 17px;
}

.ng-modal {
  max-height:90%;
}

.ng-modal-overlay {
  position: absolute;
  z-index:9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-size: 100%;
  opacity: 0.8;
}

.selector {
    z-index:10000;
  position: absolute;
  width: 100%;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  color: black;
  background-color: #fff;
  box-shadow: 4px 4px 80px ##22242A;
  overflow-y:auto;
}
.ng-modal-dialog {
  z-index:10000;
  position: absolute;
  width: 100%;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  color: black;
  background-color: #fff;
  box-shadow: 4px 4px 80px ##22242A;
  overflow-y:auto;
}

.video {
  position: relative;
  padding: 10px;
}

.fade {
  transition: all linear .5s;
  opacity: 1;
}

.fade.ng-hide {
  opacity: 0;
}

.fade.ng-hide-add, .fade.ng-hide-remove {
  display: block !important;
}

.video-block {
  padding-left: 5px;
}

.video-thumb {
  width: 120px;
  height: 90px;
  float: left;
  padding-right: 10px;
  position: relative;
}

.sound-thumb {
  width: 100px;
  height: 100px;
  float: left;
  bottom: 5px;
  padding-right: 10px;
  position: relative;
}

.video-thumb-check {
  position: absolute;
  left: 4%;
  top: 20%;
}

.video:nth-child(2n-1) {
  background-color: #f5f5f9;
}

.video-title {
  padding-top: 5px;
  font-size: 18px;
  display: block;
}

.video-author {
  color: #616573;
  font-size: 14px;
  font-weight: 900;
  padding: 5px 0;
  display: block;
}

.video-description {
  font-size: 12px;
  line-height: 1;
  height:38px;
  display:block;
}

.video:hover {
  background: #1FA0DF;
  color: white;
}

.audio {
  position: relative;
  padding: 10px;
}

.audio-block {
  padding-left: 5px;
}

.audio-thumb {
  float: left;
  padding-right: 10px;
  position: relative;
}

.audio-thumb-check {
  position: absolute;
  left: 4%;
  top: 20%;
}

.audio:nth-child(2n-1) {
  background-color: #f5f5f9;
}

.audio-title {
  padding-top: 5px;
  font-size: 18px;
  display: block;
}

.audio-author {
  color: #616573;
  font-size: 14px;
  font-weight: 900;
  padding: 5px 0;
  display: block;
}

.audio-description {
  font-size: 12px;
  line-height: 1;
  height:38px;
  display:block;
}

.audio:hover {
  background: #1FA0DF;
  color: white;
}

.time {
  padding-left: 5px;
  display: inline-block;
  position: relative;
  color: #DBDBDC;
  top: .06em;
  font-size: 12px;
}

#duration {
  float: right;
  padding-top: 0px;
  padding-right: 16px;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input[type=range] {
  outline: none;
  padding: 0;
  width: 140px;
  height: 6px;
  background-color: #616573;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #473e4f), color-stop(100%, #51475a));
  background-image: -webkit-linear-gradient(#473e4f, #51475a);
  background-image: -moz-linear-gradient(#473e4f, #51475a);
  background-image: -o-linear-gradient(#473e4f, #51475a);
  background-image: linear-gradient(#AC0809, #AC0809);
  background-size: 50% 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  box-shadow: none;
  border: none;
  background: transparent;
  -webkit-appearance: none;
}

input[type=range]::-moz-range-track {
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type=range]::-moz-focus-outer {
  border: 0;
}

input[type=range]::-webkit-slider-thumb {
  width: 14px;
  height: 14px;
  border: 0;
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 0 1px 0px rgba(0,0,0,0.1);
  -webkit-appearance: none;
}

input[type=range]::-moz-range-thumb {
  width: 14px;
  height: 14px;
  border: 0;
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 0 1px 0px rgba(0,0,0,0.1);
}