#queue {
  background-color: lightblue;
}

#chat {
  background-color: lightblue;
}

li{
  list-style-type: none
}

.thumbs{
  width:192;
  height:110
}

table {
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
	max-width: 100px;
}
