body {
  background-color: black;
}

#queue {
  background-color: green;
}

#chat {
  background-color: white;
}

li{
  list-style-type: none
}

.thumbs{
  width:192;
  height:110
}



table {
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
	max-width: 100px;
  background-color: white;
}
