html{
  overflow: hidden;
}

body {
  font-family: 'Roboto';
  background-image: url("background.png");
  background-size: 100%;
  background-color: white;
  width: 1060px;
  margin-right: auto;
  margin-left: auto;
}

::-webkit-scrollbar {
  width: 5px;
  display: none;
}


header {
  color: white;
  background-color: #22242A;
  height: 80px;
}

#search {
  display: inline-block;
  background-color: #22242A;
}

#logo {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  padding-right: 15px;
}

#skip {
  font-size: 14px;
  float: right;
  position: relative;
  display: inline-block;
  padding-left: 20px;
  padding-right: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
}

#skip:hover {
  color: #AC0809;
  cursor: pointer;
  outline: none;
}
#search-input {
  position: relative;
  bottom: 7.5px;
  left: 10px;
  background: #616573;
  width: 640px;
  line-height: 30px;
  height: 15px;
  padding: 10px;
  color: white;
  font-size: 14px;
  border-radius: 20px;
  border: none;
}

#search-input:focus {
  outline: none;
}

#search-submit{
  position: relative;
  right: 40px;
  top: 3.75px;
}

#submit:focus {
  outline: none;
}

.container {
  width: 1060px;
  height: 700px;
}

#player-queue {
  background-color: #22242A;
  width:640px;
  height:600px;
  float: left;
}

#current {
  border: 1px solid black;
}

.current-title {
  color: white;
  padding-right: 175px;
  padding-left: 10px;
}

.queue-table {
  margin-left: 30px;
}

.current-title {
  color: white;
  padding-right: 175px;
  padding-left: 10px;
}

#queue {
  margin-top: -10px;
  width: 640px;
  height:245px;
  display: block;
  overflow-y:auto;
}

#queue p {
  display: inline-block;
}

#current-song {
  width: 100%
  height: 35px;
  font-size: 18px;
  background-color: #22242A;
  color: white;
  padding-left: 10px;
}

.pending-songs {
  width: 100%
  height: 25px;
  font-size: 14px;
  background-color: #22242A;
  color: #dbdbdc;
  padding-left: 10px;
  border-top: 1px solid #616573;
}

.pending-songs:hover {
  background-color: #1171A2;
}

#queue-remove {
  cursor: pointer;
  color: #AC0809;
  float: right;
  margin-top: 12px;
  margin-right: 25px;
  border-radius: 3px;
}

#queue-remove:hover {
  cursor: pointer;
  color: black;
}

#chat {
  width:420px;
  height: 600px;
  float: right;
  color: #080808;
  background-image: url("chat-background.png");
}

#chat-container {
  height:575px;
  overflow-x:hidden;
  width:430px;
}

.chat-table{
  width:420px;
}

.user-name{
  font-weight: bold;
  width: 75px;
}

.user-message {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

/*#chat-header {
  border-bottom: 1px solid black;
}*/

#chat-submit{
 float:bottom;
 width: 305px;
}

#chat-input{
  width: 413px;
  height: 27px;
  opacity: 0.75;
  color: black;
  font-size: 14px;
  background-color: #616573;
  border: none;
  margin-top:-12px;
  margin-left: 0px;
  padding-left: 5px;
}

#chat-input:focus {
  outline: none;
}

#player {
  margin-left: 0px;
  margin-top: 0px
}

.thumbs{
  width:192;
  height:110
}

.user-message {
  font-weight: 450;
}

.ng-modal {
  overflow-y:auto;
  max-height:90%;
  margin-top:-45%
}

.ng-modal-overlay {
  position: absolute;
  z-index:9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-size: 100%;
  opacity: 0.8;
}

.ng-modal-dialog {
  z-index:10000;
  position: absolute;
  width: 100%;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  color: black;
  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
  overflow-y:auto;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}

.ng-modal-close {
  color: black;
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
}
