<div id="chat">
  <div id="chat-container" scroll-directive="messages">
    <table class="chat-table">

    <table class="chat-table">
      <tbody id="messages">
        <tr class="user-name" ng-repeat="user in useronline">
          <td ng-cloak ><strong>{{user}}</strong></td>
        </tr>
      </tbody>
    </table>

  </div>
    <form id="chat-submit" ng-submit="send(message)">
      <input id="chat-input" ng-model="message" type="text" placeholder="Enter Message" autocomplete="off" required/>
    </form>
</div>